Repository jon-schlandt/book-worm, pull requests merged in 2021-05, with the labels that each got.

#15 Feature/setup structure
  package-lock.json
  package.json
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.test.js
  src/Components/App/App.css
  src/Components/App/App.tsx
  src/Components/Book/Book.css
  src/Components/Book/Book.tsx
  src/Components/Bookshelf/Bookshelf.css
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/List/List.css
  src/Components/List/List.tsx
  src/Components/Navbar/Navbar.css
  src/Components/Navbar/Navbar.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/reportWebVitals.js
  src/setupTests.js
  tsconfig.json
Labels: Sprint 0

#19 Feature/list
  src/Components/App/App.tsx
  src/Components/List/List.tsx
  src/util/api-calls.ts
  src/util/utilities.ts
Labels: Sprint 1

#20 Feature/css homepage
  src/Components/List/List.css
  src/Components/List/List.tsx
  src/Components/Navbar/Navbar.css
  src/Components/Navbar/Navbar.tsx
Labels: CSS, Sprint 1

#23 Feature/css homepage
  src/Components/List/List.css
  src/Components/Navbar/Navbar.css
Labels: CSS, Sprint 1

#24 Feature/browser router
  package-lock.json
  package.json
  src/Components/App/App.tsx
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/List/List.css
  src/Components/List/List.tsx
  src/index.tsx
Labels: Sprint 1

#27 Move background image from list to app, add navbar position sticky
  src/Components/App/App.css
  src/Components/List/List.css
  src/Components/Navbar/Navbar.css
Labels: CSS
