Repository jon-schlandt/book-worm, pull requests merged in 2021-06, with the labels that each got.

#26 Feature/cypress/bookshelf
  cypress/integration/bookshelf_spec.js
  cypress/integration/dashboard_spec.js
  cypress/support/commands.js
  src/Components/Bookshelf/Bookshelf.tsx
Labels: Cypress, Sprint 2

#28 Feature/style bookshelf
  package-lock.json
  src/Components/Book/Book.css
  src/Components/Bookshelf/Bookshelf.css
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/Navbar/Navbar.css
Labels: CSS, Sprint 2

#30 Add responsiveness to navbar
  src/Components/Navbar/Navbar.css
Labels: CSS

#31 Feature/add and display favorites
  src/Components/App/App.tsx
  src/Components/Book/Book.tsx
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/Navbar/Navbar.css
  src/Components/Navbar/Navbar.tsx
Labels: Sprint 3

#41 Refactor/es5 to es6
  src/Components/App/App.tsx
  src/Components/Book/Book.tsx
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/Navbar/Navbar.tsx
  src/util/api-calls.ts
  src/util/utilities.ts
Labels: Refactor, Sprint 4

#40 Refactor/cleaning function
  src/Components/App/App.tsx
  src/Components/Book/Book.tsx
  src/Components/Bookshelf/Bookshelf.tsx
  src/util/utilities.ts
Labels: Refactor, Sprint 4

#44 Feature/add title to bookshelf display
  src/Components/Bookshelf/Bookshelf.css
  src/Components/Bookshelf/Bookshelf.tsx
  src/util/utilities.ts
Labels: Refactor, Sprint 4

#46 Erase duplicate styling to Bookshelf Title
  src/Components/Bookshelf/Bookshelf.css
Labels: CSS

#50 Feature/no match component
  src/Components/App/App.css
  src/Components/App/App.tsx
  src/Components/Bookshelf/Bookshelf.css
  src/Components/Bookshelf/Bookshelf.tsx
  src/Components/List/List.css
  src/Components/NoMatch/NoMatch.css
  src/Components/NoMatch/NoMatch.tsx
Labels: Sprint 4

#57 Fix bug so that a message appears to user if no books have been favor…
  src/Components/App/App.tsx
  src/Components/Bookshelf/Bookshelf.tsx
Labels: Refactor, Sprint 4

#68 Feature/lighthouse refactoring
  cypress/integration/bookshelf_spec.js
  cypress/integration/dashboard_spec.js
  cypress/integration/favorites_spec.js
  cypress/support/commands.js
  src/Components/App/App.css
  src/Components/App/App.tsx
  src/Components/List/List.css
  src/Components/List/List.tsx
  src/Components/Navbar/Navbar.tsx
Labels: Accessibility, CSS, Refactor

#71 Cypress/update tests
  cypress/integration/bookshelf_spec.js
  cypress/integration/dashboard_spec.js
  cypress/integration/favorites_spec.js
Labels: Cypress, Refactor
